MONGO_URL = 'mongodb+srv://..../anticheat'
MAILGUN_API = ''
MAILGUN_DOMAIN = 'uw33dac.me'
DISCORD_SECURITY = ''
DISCORD_LOGIN = ''
DISCORD_GBAN = ''
DISCORD_LUA = ''
DISCORD_LOCALBAN = ''
DISCORD_ERRORS = ''
DISCORD_SPOOFER = ''
